form {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.content-list > tr > td > a.url, .content-list > tr > td > span {
    max-width: 260px;
    display: inline-block;
    word-break: break-all;
}
.content-list > tr > td > a > img {
    width: 60px;
    height: 40px;
}

.content-list > tr > td .text {
    max-width: 260px;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: pre-line;
}

/* user detail */
.detail {
    min-height: 20em;
    height: auto;
    font-size: 14px;
}
.detail > dt, .detail > dd {
    line-height: 28px;
    word-break: break-all;
}

.form-horizontal > .form-group > .control-label {
    text-align: right;
}

.form-horizontal > .form-group > .control-label:after {
    content: ":";
    display: inline-block;
}

.content-panel > a.btn {
    position: absolute;
    top: 20px;
    left: 150px;
}

i.fa {
    margin-right: 2px;
}